.header {
    padding-top: 10px;
}

.title {
    display: inline-block;
    padding-top: 10px;
    color: grey;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

.title:hover {
    color: black;
}

.nav {
    display: inline;
    float: right;
}

.link {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: grey;
}

.link:hover {
    color: black;
    background-color: silver;
}